<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Генератор бегущей строки</title>
</head>
<body>
    <h1 align="center">Введите текст для генерации - в адресную строку, используя вначале " / "</h1>
    <h2 align="center">Например: /Здесь Ваш текст для генерации бегущей строки!</h2>

    <h3>История генерации бегущей строки:</h3>
    <ul>
        {% for entry in history_data %}
            <li>{{ entry.created_at }}, {{ entry.text }}</li>
        {% endfor %}
    </ul>
</body>
</html>